/* Background image */
.login-wrapper {
  width: 100vw;
  background-image: url("https://media.newindianexpress.com/newindianexpress%2F2025-04-30%2Fupg97nyo%2Fstate-central-library.jpeg?rect=0%2C200%2C1920%2C1080&w=480&auto=format%2Ccompress&fit=max");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Card (glass effect) */
.login-card {
  width: 350px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(6px);
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  text-align: center;
}

/* Title */
.login-title {
  color: #000;
  margin-bottom: 5px;
}

.login-sub {
  color: #000;
  margin-bottom: 20px;
}

/* Error message */
.error-box {
  background: #ffdddd;
  color: #b20000;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
}

/* Form */
.login-form {
  text-align: left;
  margin-bottom: 15px;
}

.login-form label {
  color: #000;
  font-weight: bold;
}

/* INPUT */
.input {
  width: 90%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #555;
  color: #000 !important;    /* TEXT PURE BLACK */
}

/* Dark placeholder */
.input::placeholder {
  color: #555555;   /* light black */
  opacity: 1;
}

/* Button */
.login-btn {
  width: 100%;
  background: #1a73e8;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.login-btn:hover {
  background: #0f5ac6;
}

.info-text {
  margin-top: 15px;
  color: #000;
}

.info-text a {
  color: #1a73e8;
}
